*{
  margin: 0;
  padding: 0;
}
.form-section{
  border-radius: 20px;
  border-style: solid;
  border:10px 10px 30px black;
  display: flex;
  flex-wrap: nowrap;
}
.left{
  background-color: #399C7E;
  width: 40%;
}
img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.right{
  width: 40%;
}