.parent{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
  width: 900px !important;
  height: fit-content !important;
}

.left{
  text-align: center;
  color: white;
  margin-top: 25% !important;
}
.right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-heading{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
  color: #495057;
}
.register-form{
  padding: 5%;
  /* margin-top: 5% !important; */
}
span{
  display: inline-block;
  color: red;
  height: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.btnRegister{
  float: right;
  margin-top: 30px !important;
}
.form-control{
  height: 45px !important;
  min-height: 45px !important;
  box-shadow: none !important;
}
.label{
  padding-top: 10px !important;
  height: 35px !important;
  min-height: 35px !important;
}
@media (max-width: 576px) {
  .parent{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 30px !important;
  padding: 30px !important;
  width: fit-content !important ;
  height: max-content !important;
}
 .left{
  text-align: center;
  color: white;
  margin-top: 20px !important;
} 
}